body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
}

.header {
  &__inner {
    position: relative;
    width: 960px;
    height: 100px;
    margin: 0 auto;
  }
  &__logo {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 194px;
    height: 40px;
    left: 19px;
  }
  &__contact {
    width: 100%px;
    height: 51px;

    &__inner {
      display: flex;
      width: 102px;
      height: 24px;
      text-align: center;
      padding: 14px 26px 13px 27px;
      background-color: #ff0600;
      transition: transform 0.4s;
      &:hover {
        transform: scale(1, 1, 1, 1);
      }
      & p {
        color: #fff;
      }
    }
  }
  &__text {
    top: 0;
    bottom: 0;
    margin: auto;
    width: 243px;
    height: 29px;
    right: 155px;
    & p {
      font-size: 1em;
    }
  }
}

.main__image {
  display: table;
  width: 100%;
  height: 482px;
  background-size: cover;
  &__inner {
    width: 100%;
    height: 482px;
    position: relative;
    background: url(https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6432841/picture_pc_e9cd48501e8ad5f03a13bfefcf9e1f19.jpg)
      no-repeat;
    background-size: cover;
  }
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 500px;
  height: 85px;
  margin: auto;
  color: #4903f6;
  font-size: 4.3rem;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.scroll {
  height: 87px;
  width: 100%;
  background-color: #aaa;
  position: relative;
  display: table;

  &::after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    bottom: -14px;
    border-top: 43px solid #aaa;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
  }
}

h2 {
  color: #fff;
  font-size: 1.9rem;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

#main__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  min-width: 687px;
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
  padding: 88px 0;

  & a {
    color: #000;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 50%;
    text-align: center;
    padding: 83px 0 10px;
    text-decoration: none;

    &#div3 {
      margin-bottom: 50px;
    }
  }

  & li {
    list-style: none;
    height: 200px;
    width: 200px;
    border: 2px solid #000;
    border-radius: 50%;
    letter-spacing: 3px;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 22px;
      right: 0;
      left: 0;
      width: 21px;
      height: 21px;
      margin: auto;
      border-right: 3px solid #000;
      border-bottom: 3px solid #000;
      transform: rotate(45deg);
    }
  }
}

#contents {
  height: 100px;
  overflow: hidden;
}

.left {
  display: flex;
  height: 400px;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  &.photo1 {
    background-image: url(https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6432843/picture_pc_0c274de1b76f4063c7ce088be3b57004.jpg);
  }
  &.photo3 {
    background-image: url(https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6432848/picture_pc_c61a50ca0b2335d65a46645b73a2a480.jpg);
  }
  &.text {
    background-color: #aaa;
    color: #fff;
  }
}

.right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 400px;

  &.photo2 {
    background-image: url(https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6432845/picture_pc_3d21e88b8ee49951e3c0931173a8f8ed.jpg);
  }
  &.text {
    background-color: #aaa;
    color: #fff;
  }
}

h4 {
  font-size: 1.25rem;
}

.main__contact {
  width: 100%;
  height: 163px;
  background-color: #aaa;
  margin: 50px;
  overflow: hidden;

  &__inner {
    width: 100%;
    height: 163px;
    position: relative;
  }
}

.contact__left {
  display: flex;

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 307px;
    height: 53px;
    margin: auto;
    overflow: hidden;

    & img {
      display: flex;
    }
    & p {
      display: flex;
      font-size: 1.4rem;
      line-height: 20px;
      margin: 9px 0 5px;
    }
    & span {
      font-size: 0.9rem;
    }
  }
}

.contact__right {
  display: block;

  & p {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 1.3em;
  }

  &__inner {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 243px;
    height: 33px;
    margin: auto;
    padding: 25px 85px 25px 41px;
    background-color: #ff0600;
    transition: all 0.4s;

    &:hover {
      transform: scale(1, 1, 1, 1);
    }
  }
}

footer {
  height: 60px;
  background-color: #aaa;

  & div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    color: #fff;
    font-weight: bold;
  }
}
